@use 'variables' as *;

@keyframes gradient-animation {
    0% {
        background-position: 0% 0%;
    }    
    40% {
        background-position: 30% 15%;
    }
    50% {
        background-position: 100% 70%;
    }
    60% {
        background-position: 30% 15%;
    }
    100% {
        background-position: 0% 0%;
    }
}